@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  @if ($align !='none') {
    align-items: $align;
  }
  @if ($justify !='none') {
    justify-content: $justify;
  }
}

@mixin scrollbar($size,$barColor,$thumbColor) {
  &::-webkit-scrollbar {
    width: $size;
    border-radius: 50px;
    background: $barColor;
  }
  &::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 50px;
    background: $thumbColor;
  }
}

@mixin buttonAnimationBackground() {
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: width ease .5s;
    height: 100%;
    width: 0;
    border-radius: 5px;
  }
  &:hover {
    color: $dark;
    .icon-content {
      svg {
        fill: $dark;
      }
    }
    &:before {
      background: $accent;
      width: 100%;
    }
  }
}

@mixin buttonAnimationOpenClose() {
  &:before, &:after {
    content: '';
    position: absolute;
    transition: width ease .5s;
    background: $accent;
    border-radius: 50px;
    z-index: 1;
    height: .2rem;
    width: 100%;
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    bottom: 0;
    right: 0;
  }
  &:hover{
    &:before,&:after{
      width: 0;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
}

@mixin hidden() {
  width: 0;
  height: 0;
  transform: scale(0);
}