$dark : #393b44; // hsl(229,16,27) rgb(57,59,68)
$medium : #7A7A7A; // hsl(0,0,48) rgb(122,122,122)
$light :  #f1f3f8; // hsl(223,3,97) rgb(241,243,248)

$accent : #00e8be; // hsl(168,100,91) rgb(0,232,190)

//$valid : #179c10; // hsl(117,90,61) rgb(23,152,16)
//$cancel : #B36212; // hsl (30,90,70) rgb (179,98,18)
//$delete : #B31312; // hsl(0,90,70) rgb(179,19,18)

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); //"Amatic SC", sans-serif
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); //"Bebas Neue", sans-serif;