@import '../../autre/reset';
@import '../../autre/variable';
@import '../../autre/mixin';
@import '../../autre/keyframe';

@keyframes pulse {
  0%, 100% {
    border-color: var(--theme-color);
  }

  50% {
    border-color: var(--color);
  }
}

//code général
.skill-card {
  @include flex(column, center, none);
  border-radius: .5rem;
  transition: all ease .5s;
  padding: 1rem 0 0 0;
  position: relative;
  border: 2px outset;
  z-index: 0;
  animation: 5s ease .5s infinite pulse;
  background: transparent;
  &:hover {
    cursor: pointer;

    &:before {
      height: 100%;
      background: var(--color);
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
    border-radius: inherit;
    width: 100%;
    height: 0;
    transition: height ease .5s;
  }

  h3 {
    text-transform: uppercase;
  }

  .icon-content {
    @include flex(row, center, center);

    svg {
      @include square(100%);
      fill: var(--theme-color);
      transition: all ease .5s;
    }
  }

  canvas {
    transition: all ease .5s;
  }
}

//code mobile
@media screen and (min-width: 378px) {
  .skill-card {
    width: 15rem;
    height: 20rem;
    gap: 10%;

    h3 {
      font-size: 2rem;
    }

    .icon-content {
      width: 35%;
    }

    canvas {
      width: 60%;
    }
  }
}

//code laptop
@media screen and (min-width: 1280px) {
  .skill-card {
    width: 10rem;
    gap: 1.5rem;

    h3 {
      font-size: 1.5rem;
    }

    .icon-content {
      width: 50%;
      aspect-ratio: 16 / 9;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    canvas {
      width: 80%;
    }
  }
}