@import '../autre/reset';
@import '../autre/variable';
@import '../autre/mixin';

.App {
  @include flex(row, none, none);
  main {
    width: 100%;
    .page-container {
      overflow: auto;
      height: 81vh;
      &::-webkit-scrollbar {
        width: .5rem;
        border-radius: 50px;
      }
      &::-webkit-scrollbar-thumb {
        width: 100%;
        border-radius: 10px;
        background: var(--theme-color);
      }
      article{
        @include flex(column,center,none);
        h2 {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

//code mobile
@media screen and (min-width: 378px){

}

//code laptop
@media screen and (min-width: 1280px){
  .page-container{
    height: 81%;
  }
}

// test
#body.dark-mode {
  //background: $dark;
  color: $light;
  --theme-background: #{$dark};
  --theme-color: #{$light};
  //link header
  #nav-content {
    border-color: $light;
    //sublink theme-toggle
    //#theme-toggle {
    //  border-color: $light;
    //  flex-direction: row;
    //  &:hover{
    //    .icon-content{
    //      background: $light;
    //      svg{
    //        &#dark-icon {
    //          @include hidden;
    //        }
    //        &#light-icon {
    //          @include square(90%);
    //          transform: scale(1);
    //        }
    //      }
    //    }
    //  }
    //  .icon-content{
    //    border-color: $light;
    //    &#light-icon {
    //      @include hidden;
    //    }
    //  }
    //}
    //sublink navbar-toggle
    #navbar {
      a {
        color: $light;
        &.active{
          color:$dark;
          &:hover{
            color: $light;
            .icon-content{
              svg{
                fill: $light;
              }
            }
          }
          .icon-content{
            svg{
              fill: $dark;
            }
          }
        }
        &:hover {
          color: $dark;
          .icon-content {
            color: $dark;
            svg{
              fill: $dark;
            }
          }
        }
        .icon-content {
          svg {
            fill: $light;
          }
        }
      }
    }
  }
}

#body.light-mode{
  //background: $light;
  color: $dark;
  --theme-background: #{$light};
  --theme-color: #{$dark};
  //link header
  #nav-content{
    border-color:$dark;
    //sublink theme-toggle
    //#theme-toggle{
    //  border-color: $dark;
    //  &:hover{
    //    .icon-content{
    //      background: $dark;
    //      svg{
    //        &#dark-icon {
    //          @include square(90%);
    //          transform: scale(1);
    //        }
    //        &#light-icon {
    //          @include hidden;
    //        }
    //      }
    //    }
    //  }
    //  .icon-content{
    //    background:$dark;
    //    border-color: $dark;
    //    svg{
    //      &#dark-icon {
    //        @include hidden;
    //      }
    //      &#light-icon {
    //        @include square(90%);
    //        transform: scale(1);
    //      }
    //    }
    //  }
    //}
    //sublink navbar-toggle
    #navbar{
      a{
        color:$dark;
        &.active{
          color:$light;
          &:hover{
            color: $dark;
            .icon-content{
              svg{
                fill: $dark;
              }
            }
          }
          .icon-content{
            svg{
              fill: $light;
            }
          }
        }
        &:hover{
          color: $light;
          .icon-content{
            svg{
              fill: $light;
            }
          }
        }
        .icon-content{
          svg{
            fill: $dark;
          }
        }
      }
    }
  }
}

#body {
  transition: background ease .5s;
  --gradient : #{$medium};
  background: linear-gradient(140deg, var(--theme-background) 0%, var(--gradient) 100%);;
}