@import '../autre/reset';
@import '../autre/variable';
@import '../autre/mixin';

.App {
  @include flex(row, none, none);
  main {
    width: 100%;
    .page-container {
      overflow: auto;
      height: 81vh;
      &::-webkit-scrollbar {
        width: .5rem;
        border-radius: 50px;
      }
      &::-webkit-scrollbar-thumb {
        width: 100%;
        border-radius: 10px;
        background: var(--theme-color);
      }
      article{
        @include flex(column,center,none);
        h2 {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

//code mobile
@media screen and (min-width: 378px){

}

//code laptop
@media screen and (min-width: 1280px){
  .page-container{
    height: 81%;
  }
}