@import '../../autre/reset';
@import '../../autre/variable';
@import '../../autre/mixin';

//code général
#theme-toggle{
  @include flex(row,center,none);
  border: 1px solid;
  border-radius: 50px;
  padding: .5rem;
  &:hover{
    .icon-container{
      background: $light;
      svg{
        &#dark-icon {
          @include hidden;
        }
        &#light-icon {
          @include square(90%);
          transform: scale(1);
        }
      }
    }
  }
  &.active{
    flex-direction: row-reverse;
    &:hover{
      .icon-container{
        background: $dark;
        svg{
          &#dark-icon {
            @include square(90%);
            transform: scale(1);
          }
          &#light-icon {
            @include hidden;
          }
        }
      }
    }
  }
  .icon-container{
    @include flex(row,center,center);
    position: relative;
    transition: all ease .5s;
    border: 1px solid;
    border-radius: 50px;
    padding: .2rem;
    .icon-content{
      position: absolute;
      transition: all ease .5s;
      @include square(80%);
      svg{
        fill: $accent;
        @include  square(100%);
      }
    }
  }
}

//theme code
body{
 &.light-mode{
   #theme-toggle{
     border-color: $dark;
     flex-direction: row-reverse;
     &:hover{
       .icon-container{
         background: $dark;
         svg{
           &#dark-icon {
             @include square(90%);
             transform: scale(1);
           }
           &#light-icon {
             @include hidden;
           }
         }
       }
     }
     .icon-container{
       background:$dark;
       border-color: $dark;
       svg{
         &#dark-icon {
           @include hidden;
         }
         &#light-icon {
           @include square(90%);
           transform: scale(1);
         }
       }
     }
   }
 }
 &.dark-mode{
   #theme-toggle {
     border-color: $light;
     flex-direction: row;
     &:hover{
       .icon-container{
         background: $light;
         svg{
           &#dark-icon {
             @include hidden;
           }
           &#light-icon {
             @include square(90%);
             transform: scale(1);
           }
         }
       }
     }
     .icon-container{
       border-color: $light;
       &#light-icon {
         @include hidden;
       }
     }
   }
 }
}

//code mobile
@media screen and (min-width: 378px){
  #theme-toggle{
    border: none;
    .icon-container{
      @include square(6rem);
    }
  }
}

//code laptop
@media screen and (min-width: 1280px){
  #theme-toggle{
    border:1px solid;
    cursor: pointer;
    width: 8rem;
    height: 4.4rem;
    .icon-container{
      @include square(3rem);
    }
  }
}